/* General Styles 
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  height: 100px;
  color: white;
  gap: 10px;
}

.navbar .logo img {
  max-width: 100px; /* Tamaño pequeño del logo */
  height: auto;
}

/* Search Bar */
.search-bar {
  flex-grow: 1;
  max-width: 400px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.search-bar select {
  /* background-color: #006dba; */
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.search-bar select:focus {
  background-color: #ff0000e9;
  color: white;
}

.search-bar input {
  padding: 10px;
  font-size: 1rem;
  outline:none;
  border: none;
  flex-grow: 1;
}

/* .search-bar button {
  background-color: #005bb5;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button:hover {
  background-color: #004a94;
} */

.search-bar button ion-icon {
  font-size: 20px; /* Tamaño del ícono de búsqueda */
  color: white;
}

/* Cart Icon */
.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(243 244 246); */
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.cart-icon svg{
  font-size: 28px; /* Tamaño del ícono del carrito */
  color: #222;
}

.cart-icon .notification {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-size: 0.8rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Login Button */
.login-button {
  background-color: #b0bcf544;
  color: #dc3545;
  border: 1px solid #5278f46c;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #dc3545;
  color: white;
}
